<header class="image-bg-fixed-height">
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-heading">Questionnaires</h1>
                <p class="lead section-lead">Are you ready ?</p>
                <p class="section-paragraph">Being relax to answer some simple questions. It will only take you around 10 mins</p>
                <a type="button" href="https://standrews.eu.qualtrics.com/jfe/form/SV_3IVb16ZY1yXGEaF" class="btn btn-success">Pre-Questionnaire</a>
                <a type="button" href="https://standrews.eu.qualtrics.com/jfe/form/SV_aYlQkIKrn1xDPAp" class="btn btn-success">Post-Questionnaire</a>
            </div>
        </div>
    </div>
</section>
